<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<h5>
  Click <a href="/users/new-credentials">Here</a> to add a new credential!
</h5>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
