<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-square-plus"></i> Add Credential
      </h1>
      <form action="/users/new-credentials" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Your Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="issuingOrg">Issuing Organization</label>
          <div class="dropdown" style="width: 100%;">
            <select
              style="width: 100%;"
              id="issuingOrg"
              name="issuingOrg"
              required
            >
              <option value="" disabled selected
                >Select your organization</option
              >
              <option value="microsoft">Microsoft</option>
              <option value="salesforce">Salesforce</option>
              <option value="cisco">Cisco</option>
              <option value="servsafe">ServSafe</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="jobCategory">Credential Category</label>
          <input
            type="text"
            id="jobCategory"
            name="jobCategory"
            class="form-control"
            placeholder="What Field Is Your Credential In?"
            value="<%= typeof jobCategory != 'undefined' ? jobCategory : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="credentialName">Credential Name</label>
          <input
            type="text"
            id="credentialName"
            name="credentialName"
            class="form-control"
            placeholder="Enter Name of Credential"
            value="<%= typeof credentialName != 'undefined' ? credentialName : '' %>"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Create
        </button>
      </form>
    </div>
  </div>
</div>
